* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #3a3a3b;
  background-image: url("https://wallpaperaccess.com/full/2188742.jpg");
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  CSS ADDED TO FILE */

.image-container {
  display: flex;
  margin-bottom: -3vh;
  justify-content: center;
}

.image-container > img {
  width: auto;
  height: 220px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50vw;
  min-width: 265px;
  margin-bottom: 1rem;
}

.table-container {
  height: 50vh;
}

.pages-container {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.page-number {
  color: red;
  font-size: 2rem;
}

.page-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  min-width: 265px;
}
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  font-weight: bold;
}
